<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BNITapCash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <BNITapCash.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddressServer" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddressLiveCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="DBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TID" serializeAs="String">
                <value />
            </setting>
            <setting name="MID" serializeAs="String">
                <value />
            </setting>
            <setting name="WebcamWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WebcamHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiveCameraUsername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="LiveCameraPassword" serializeAs="String">
                <value />
            </setting>
        </BNITapCash.Properties.Settings>
    </userSettings>
</configuration>